// Всі правила @use повинні бути на початку файлу
@import 'helpers/vars'
@import 'helpers/mixins'
@import 'components/header'
@import 'components/footer'
// before
// Після правил @use йдуть стилі
*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 1px

body
    font-size: 14rem

.flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.evenly
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    padding: 60px 0

.wrapper
    width: 95%
    margin: auto

.hidden
    display: none

h1
    +title

ul
    display: inline-flex
    flex-direction: column
    +media(726)
        width: 625px
    +media(1024)
        width: 700px
        justify-content: space-evenly
        flex-direction: row

figcaption
    &
        font-size: 16px
        letter-spacing: -1px
        line-height: 51px
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
        

.span_main
    +title_span
    color: #9fa4af
    display: block
.what
    &::before
        border-bottom: 1px solid $purple
        top: 48%
        left: -50%
    &::after
        border-bottom: 1px solid $purple
        right: -50%
        top: 46%

.span_main_down
    +title_span(false)
    display: block
    color: #fff

h2
    +title_h2
    color: #fff

.logo
    +logo
    +media(1024)
        width: 100%
    +media(1440)
        width: 20%

.main_h2
    +title_h2
    color: #4f4f6f

.content_main
    color: #4f4f6f

.footer-menu_li
    +menu
    color: #6a6a77

    &:hover
        color: #756edc

button
    +buttona
    

.styled_button
    border-radius: 25px
    filter: drop-shadow(0 0 10.5px rgba(204,204,223,0.5))
    background-color: #ffffff
    border: 1px solid #d7dbe8

.button_defalut
    display: inline-block
    margin: 20px 0
    border-radius: 25px
    filter: drop-shadow(0 0 10.5px rgba(204,204,223,0.5))
    background-color: #ffffff
    border: 1px solid #d7dbe8
    padding: 5px 20px
    font-size: 12rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    color: #c2c9db
    font-weight: 700
    font-family: "Maven Pro"
    text-align: center
    transition: 0.3s

    &:hover
        color: #fff
        background-color: $purple
        border: 0

figure
    display: block
    text-align: center
    margin: 15px 0
    width: 95%
    border-radius: 30px
    background-color: #fff
    border: 1px solid #d7dbe8
    transition: 0.3s
    +media(768)
        width: 47%
    +media(1024)
        width: 45%
    +media(1440)
        width: 24%

    &:hover
        filter: drop-shadow(0 0 46px rgba(204,204,223,0.71))
        scale: 1.03

.main_h2
    +title_h2(false)

.styled_price
    display: inline-block
    position: relative
    font-size: 60rem
    letter-spacing: -2rem
    line-height: 72rem
    color: #4f4f6f
    font-weight: 500
    font-family: "Maven Pro"

.icon_card
    margin: 20px 0
    width: 120px
    height: 110px

.dollar
    font-size: $font-size-base
    top: -20%
    left: -16%
    position: absolute

.month
    font-size: $font-size-base
    position: absolute
    top: 20%
    left: 100%

@keyframes bounce
    0%, 20%, 50%, 80%, 100%
        transform: translateY(0)

    40%
        transform: translateY(10px)

    60%
        transform: translateY(5px)

.icon
    animation: bounce 2s infinite

.main_down
    padding: 140px 0
    background-image: url("../img/background_down.webp")
    background-size: cover
    background-position: center
    +media(768)
        padding: 80px 0

.what 
    display: inline

    
.button_main_down
    background-color: #fff
    color: #c2c9db
    transition: transform 0.5s ease, color 0.5s ease
    +buttona

    &:hover
        border: none
        transform: scale(1.1)
        color: #fff
        background-color: $purple
.block-buttons
    text-align: center
    button
        margin: 10px 20px
        

.button-footer
    +buttona(false)

.main_p
    +title_p(false)
    text-align: -webkit-center
    p
        width: 100%
        +media(768)
            width: 55%
        +media(1440)
            width: 25%

.p_card
    +title_p(false)
    display: block
    padding: 30px 0

.footer_h2
    +title(false)

//media and mixins для header i footer бо там не працює :(
//header
.header-menu_li
    +menu

.header_p
    +title_p

.burger
    color: #000
    +media(1024)
        display: none
//footer

.footer-menu
    display: none
    +media(1024)
        display: flex
        align-items: center
.socal
    width: 100%
    text-align: right
    padding: 5px 0
    +media(726)
        width: 28%
