=media ($size)
    @media screen and (min-width: #{$size}px)
        @content

= logo ($none: true)
    display: flex
    width: 85%
    align-items: center
    padding: 30px 0
    +media (1024)
        width: 20%

= menu ($header-menu: true)
    @if $header-menu
        color: #fff
        text-align: center
        font-size: 16rem
        line-height: 19rem
        font-weight: 500
        font-family: "Maven Pro"
        list-style: none
        padding: 17px 0
    +media (726)
        display: block
        width: 100%
    +media (1440)
        width: 46%

= title ($header-title: true)
    display: inline
    font-size: 30rem
    letter-spacing: 6rem
    font-weight: 700
    font-family: "Maven Pro"
    @if $header_title
        color: #fff
    @else
        color: #37374a

= buttona ($header-button: true)
    background-color: $purple
    color: #fff
    border: 1px solid #d7dbe8
    border-radius: 25px
    margin: 0 0
    width: 87%
    margin: 15px 5px
    padding: 10px 20px
    width: 180px
    +media (1024)
        margin: 0 35px
    @if $header-button
        border: 1px solid #fff
        background-color: rgba(110,69,226,0)

= title_span ($header-title: true)
    display: inline
    position: relative
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    color: #fff
    font-weight: 700
    font-family: "Maven Pro"
    text-align: center
    &::before,
    &::after
        content: ""
        position: absolute
        display: block
        border-bottom: 1px solid #fff
        width: 20px
    &::before
        top: 50%
        left: -13%
    &::after
        right: -13%
        top: 50%

= title_h2 ($header-title: true)
    padding: 25px 0
    font-size: 60rem
    letter-spacing: -3rem
    font-weight: 500
    font-family: "Maven Pro"
    text-align: center

= title_p ($header-title: true)
    display: block
    font-size: 16rem
    line-height: 28rem
    font-weight: 400
    font-family: "Maven Pro"
    @if $header-title
        color: #fff
    @else
        color: #9fa4af
