footer.footer
 
    .wrapper 
        .flex
            .logo 
                svg.logo_company
                    use(xlink:href="#logo (1)")
                h2.footer_h2 MISOCIAL
            .footer-menu
                ul 
                    li.footer-menu_li 
                        a Home
                    li.footer-menu_li 
                        a Why MISOCIAL
                    li.footer-menu_li 
                        a Features
                    li.footer-menu_li 
                        a Articles 
                    li.footer-menu_li 
                        a Pricing
                
                button.button-footer 
                        a get started
            .super_footer.flex
                span.super_footer_span © 2017 Mass Impressions Tranmautritam. Make the right impression.
                .socal 
                    svg.i
                        use(xlink:href="#flowbite--facebook-solid")
                    svg.i
                        use(xlink:href="#mdi--twitter")
                    svg.i
                        use(xlink:href="#nrk--some-google")
                    svg.i 
                        use(xlink:href="#mdi--instagram")
                            a(href="#") 