header.header 
    .wrapper 
        .flex
            .logo 
                svg.logo_company
                    use(xlink:href="#logo (1)")
                h1 MISOCIAL
            
            .burger#burger 
                span
            .header-menu
                ul 
                    li.header-menu_li 
                        a Home
                    li.header-menu_li 
                        a Why MISOCIAL
                    li.header-menu_li 
                        a Features
                    li.header-menu_li 
                        a Articles 
                    li.header-menu_li 
                        a Pricing
                
                button 
                    a get started

        .analytics 
            .span_header
                span SOCIAL MARKETING  ANALYTICS
            .header_h2 
                h2  Pricing Table
            .header_p
                p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        .block-circle 
            .circle 
                svg.icon
                    use(xlink:href="#formkit--arrowdown")

